#puppy-header{
    text-align: center;
    font-size: 22px;
}

#puppy-info {
    width: 60%;
    justify-content: center;
    margin-left: 20%;
    padding: 10px;
    
}
#puppy-info p {
    font-size: 20px;
    line-height: 1.7;
}