#puppy-header{
    text-align: center;
    font-size: 22px;
}

#puppy-info {
    width: 60%;
    justify-content: center;
    margin-left: 20%;
    padding: 10px;
    
}
#puppy-info p {
    font-size: 20px;
    line-height: 1.7;
}

#puppy-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 70%;
    left: 18%;
    position: relative;
    
}

.puppy {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 10px;
    width: 200px;
    box-sizing: border-box;
}

.puppy img {
    width: 200px;
    height: auto;
    border-radius: 6px;
}


.puppy p {
   font-size: 18px;
   width: 70%;

} 

@media only screen and (min-width: 600px) {
   
    #puppy-section{
        left: 20%;
    }
    .puppy {
        flex: 30%; 
    }

}