#content{
    font-family: Arial, Helvetica, sans-serif;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    background: grey;
}
  
#slide-1 {
    width: 30%;
    margin-left: 35%;
    position: relative;
}
